body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: #0283b3;
    color: #FFD700;
}

.sidebar {
    width: 250px;
    background-color: #2d3b2f;
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #444;
}

.content {
    margin-left: 250px;  /* Отступ от боковой панели */
    padding: 20px;
    flex-grow: 1;
}

.settings-container {
    background-color: #4f6b51;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 12px 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    margin: 0 auto;  /* Центрируем форму */
}

.avatar-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.avatar-section img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid #007bff;
}

.avatar-section span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

form input {
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
