<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Публикации</title>
</head>
<body>
    <h1 class="coc" >Socius</h1>
    <div class="sidebar">
        <a href="/index.html">Главная страница</a>
        <a href="/account">Аккаунт</a>
        <a href="/posts">Посты</a>
        <a href="/settings">Настройки</a>
        <a href="/login">Вход</a>
        <a href="register">Регистрация</a>
    </div>
    <h2>Аккаунт</h2>
    <img src="https://yt3.googleusercontent.com/k5GW4R2sbIwZ57PqK2Ub9jhoj2CUc5Y73kVaBDk77RycoUFEGPNrojnHBgWKLETGT154C08-QA=s900-c-k-c0x00ffffff-no-rj"
id="circle" class="avt">
    <form action="/posts_page" method="post">
        <label for="title">Заголовок</label>
        <input type="text" id="title" name="title" class="txtar" required><br>
        <label for="content" class="mtl">Материал</label>
        <input type="text" size="100" id="content" name="content" class="txtar" required></textarea><br>
        <button type="submit">Добавить пост</button>
    </form>
    <h1>Posts</h1>
    <ul>
        {{range .posts}}
            <li class="post">
                <h2>{{.Title}}</h2>
                <p>{{.Content}}</p>
                <p class="username">Автор: {{.Author}} | Дата: {{.Date}}</p>
            </li>
        {{else}}
            <li>No posts available</li>
        {{end}}
    </ul>    
</body>
</html>
