<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="static/css/auth.css">
</head>
<body>
    <div class="sidebar">
        <a href="/account">Публикация</a>
        <a href="/posts_page">Посты</a>
        <a href="/settings">Настройки</a>
        <a href="/login">Вход</a>
        <a href="/register">Регистрация</a>
        <a href="/chat">Мессенджер</a>
        <a href="/logout" class="btn btn-danger">Выйти</a>
    </div>
    <div class="main-content">
        <h2>Регистрация</h2>
        <div class="form-container"> 
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="username">Имя пользователя:</label>
                    <input type="text" id="username" name="username" placeholder="Введите имя пользователя" required><br><br>
                </div>
                
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" placeholder="Введите пароль" required><br><br>
                </div>
                
                <div class="form-group">
                    <button type="submit">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
