<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки</title>
    <link rel="stylesheet" href="/static/css/setting.css">
</head>
<body>
    <div class="sidebar">
        <a href="/account">Публикация</a>
        <a href="/posts_page">Посты</a>
        <a href="/settings">Настройки</a>
        <a href="/login">Вход</a>
        <a href="register">Регистрация</a>
        <a href="/chat">Мессенджер</a>
        <a href="/logout" class="btn btn-danger">Выйти</a>
    </div>
    
    <div class="content">
        <div class="settings-container">
            <h1>Настройки профиля</h1>
            
            <div class="avatar-section">
                <img id="avatar" src="/static/images/default-avatar.png"  onclick="document.getElementById('upload-avatar').click()">
                <span id="avatar-text">ФОТО</span> 
                <input type="file" id="upload-avatar" style="display: none;" onchange="previewImage(event)">
            </div>
            
            <form action="/settings" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar" id="avatar-input" style="display: none;">

                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" placeholder="Введите имя пользователя">

                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" placeholder="Введите пароль">

                <label for="email">Электронная почта:</label>
                <input type="email" id="email" name="email" placeholder="Введите email">

                <button type="submit">Сохранить изменения</button>
            </form>
        </div>
    </div>
   
    <script>
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function() {
                const avatar = document.getElementById('avatar');
                const avatarText = document.getElementById('avatar-text');
    
                avatar.src = reader.result;
                
                if (avatar.src !== '/static/images/default-avatar.png') {
                    avatarText.style.display = 'none';  
                }
            };
            reader.readAsDataURL(event.target.files[0]);
            
            const avatarInput = document.getElementById('upload-avatar');
            document.getElementById('avatar-input').files = avatarInput.files;
        }
    </script>
</body>
</html>
